body {
    background-color: lightgray
}

#contact_me {
  display: inline-flex;
  position: absolute;
  top: 0;
  right: 0;
}

#contact_img {
  height: 20px;
  margin-top: 22%
}

div {
  text-align: center;
}

#grey_strap {
    background-color: gray;
    width: 100%;
    margin-top: 10vmax;
    height: 230px;
    border-radius: 15px;
}

.row {
  display: flex;
}

.column {
  flex: 33.33%;
  padding: 5px;
}

p {
  font-family: Arial, Helvetica, sans-serif;
  font-size: calc(2.5em + 0.1vw);
  margin: 2%;
}


.footer {
  bottom: 0;
  position: absolute;
  width: 100%;
  left: 0;
  background-color: gray;
  min-height: 7%;
  

}





/* .footer {
  position:fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color:gray ;
  color: darkslategray;
  text-align: center;
  height: 7%;
} */
